/* - - > NAV DISENIO DE NAV < - - */

.backgroundnav{
 	background-color: #0F4C75;
}

.RegularFont{
	position: relative;
	text-align: left;
	list-style: none;
	padding-left: 0;
  	margin-bottom: 0;
	color: #FFFFFF;
	font-family: 'Patua One', cursive;
	font-size: 17px;

}

.btn-outline-success1 {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.btn-outline-success1:hover {
  	color: #0F4C75;
  	font-weight: bold;
  	background-color: #FFFFFF;
  	border-color: #000000;
 	border-radius: 25px 25px 25px 25px;

}

.btn-outline-success1:focus, .btn-outline-success1.focus {
  box-shadow: 0 0 0 0.2rem rgba(49, 158, 201, 1);
}


.btn-outline-success1.disabled, .btn-outline-success1:disabled {
  color: #28a745;
  background-color: transparent;
}

/* - - > NAV DISENIO DE NAV < - - */

/* -- > DISENO PARA CAROUSEL < -- */

.fonttitlecarousel{
	color: #FFFFFF;
	font-family: 'Patua One', cursive;
	text-shadow: 1px 1px 4px #000000;
	font-size: 8vw;
}

.fontpcarousel{
	color: #FFFFFF;
	font-family: 'Patua One', cursive;
	text-shadow: 1px 1px 4px #000000;
	font-size: 4vw;
	
}

/* -- > DISENO PARA CAROUSEL < -- */

/* - - > NAV SUPERIOR< - - - */

.ImgLogo{
	width: 250px;
}


.navfonta{
	margin-top: 10%; 
	padding: 10px; 
	color: white; 
	background-color: black; 
	border-radius: 25px 0px 25px 0px;
	margin-left: 50%
}

/* - - > NAV SUPERIOR < - - - */

/* --> EFECTO SLIDE DE TEXTO CORREDIZO <-- */

.container-fluid-without-padding{
  width: 100%;
}

.imghvr-slide-left figcaption {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0.8;
    width: 100%;
    text-align: center;
  	font-size: 200%;
}

.imghvr-slide-right figcaption {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0.8;
    width: 100%;
    text-align: center;
  	font-size: 200%;

}

.figureslide{
	width: 100%;
	height: auto;	
	margin-bottom: -6px;
}

.sizeimg{ 
	width: 100%;
  	height: auto;
  	opacity: 0.8;
}

/* --> EFECTO SLIDE DE TEXTO CORREDIZO <-- */

/* --> SEPARATOR TEXT SERVICIOS <-- */

.titleseparator{
	padding-top: -50px;
	background-color: #0F4C75;
	height: 65px;	
}

.paraphseparator{
	color: #FFFFFF;
	text-align: center;
	padding-top: 10px;
	font-family: 'Patua One', cursive;
	font-size: 30px;
}

/* --> SEPARATOR TEXT <-- */

/* -->  MAPS GOOGLE<--*/

#map {
	height: 300px;
	width: 100%;
}

/* -->  MAPS GOOGLE<--*/

/* FOOTER STYLE*/

.foothermy{
	background-color: #0F4C75;
	height: 128%;
	width: 100%;
}

.foothercontainer {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.footherh1{
	position: relative;	
	color: #FFFFFF;
	font-family: 'Patua One', cursive;
	font-size: 3vw;
	margin-top: 5%;
	text-shadow: 1px 1px 4px #000000;

}

.footherp{
	position: relative;	
	color: #FFFFFF;
	font-family: 'Patua One', cursive;
	font-size: 2.5vw;
	margin-top: 5%;
	text-shadow: 1px 1px 4px #000000;

}

/* FOOTER STYLE*/